<div class="container">
	<h1>Neil Patel</h1>

	<h4>Web Developer</h4>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco </p>

	<br />

		<a href="http://facebook.com/yourusername" target="blank">
		<%=image_tag("github.png") %> </a>

		<a href="http://twitter.com/yourusername" target="blank"> 
		<%=image_tag("twitter.png") %> </a>

		<a href="http://facebook.com/yourusername" target="blank">
		<%=image_tag("facebook.png") %> </a>
</div>


